[Unit]
Description=Service file for setting up iptables rules before network is up at target boot
Before=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/iptables-persistent start
ExecStop=/usr/sbin/iptables-persistent stop

[Install]
WantedBy=multi-user.target
